<div>
  <p *ngIf="seconds > 5" class="timer">
    <span *ngIf="seconds >= 10">00:{{seconds}}</span>
    <span *ngIf="seconds < 10">00:0{{seconds}}</span>
  </p>
  
  <p *ngIf="seconds <= 5" class="timer-danger">
    00:0{{seconds}}
  </p>
</div>

