<ion-content>
  <form  #form="ngForm" (ngSubmit)="resetPassword()">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3 class="title">{{'resetPasswordPage.title' | translate}}</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-label class="label" position="floating">{{'resetPasswordPage.email' | translate}}</ion-label>
              <ion-input name="email" type="text" [(ngModel)]="email" required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="medium" type="submit" [disabled]="form.invalid" expand="block">{{'resetPasswordPage.send' | translate}}</ion-button>
          </div>
        </ion-col>
        <div text-center>
          <a routerLink='/login'>{{'resetPasswordPage.cancel' | translate}}</a>
        </div>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
