<div *ngIf="!lockOptions">
  <ion-button class="button" (click)="onSelect()" [color]=color expand="block" size="large">
    <span class="selectedLanguage">{{option}}</span>
  </ion-button>
</div>

<div *ngIf="lockOptions">
  <!-- always show correct option -->
  <div *ngIf="option===answer">
    <ion-button class="button" color='success' expand="block" size="large" [@tada]="tada">
      <span class="selectedLanguage">{{option}}</span>
    </ion-button>
  </div>
  
  <!-- show selected option -->
  <div *ngIf="option!==answer">
    <ion-button class="button" [color]=color expand="block" size="large">
      <span class="selectedLanguage">{{option}}</span>
    </ion-button>
  </div>
</div>
