<ion-content>
  <form [formGroup]="validationsFormGroup" (ngSubmit)="register()">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3 class="title">{{'registerPage.title' | translate}}</h3>
          </div>

          <div padding>
            <ion-item>
              <ion-label class="label" position="floating">{{'registerPage.username' | translate}}</ion-label>
              <ion-input formControlName="username" [(ngModel)]="username" type="text"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessages.username">
                <div class="error-message" *ngIf="validationsFormGroup.get('username').hasError(validation.type) && (validationsFormGroup.get('username').dirty || validationsFormGroup.get('username').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>

            <ion-item>
              <ion-label class="label" position="floating">{{'registerPage.email' | translate}}</ion-label>
              <ion-input formControlName="email" [(ngModel)]="email" type="text"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessages.email">
                <div class="error-message" *ngIf="validationsFormGroup.get('email').hasError(validation.type) && (validationsFormGroup.get('email').dirty || validationsFormGroup.get('email').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>

            <span formGroupName="passwordsFormGroup">
              <ion-item>
                <ion-label class="label" position="floating">{{'registerPage.password' | translate}}</ion-label>
                <ion-input formControlName="password" [(ngModel)]="password" type="password"></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.password">
                  <div class="error-message" *ngIf="validationsFormGroup.get('passwordsFormGroup').get('password').hasError(validation.type) && (validationsFormGroup.get('passwordsFormGroup').get('password').dirty || validationsFormGroup.get('passwordsFormGroup').get('password').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <ion-item>
                <ion-label class="label" position="floating">{{'registerPage.confirmPassword' | translate}}</ion-label>
                <ion-input formControlName="confirmPassword" [(ngModel)]="confirmPassword" type="password"></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.confirmPassword">
                  <div class="error-message" *ngIf="validationsFormGroup.get('passwordsFormGroup').get('confirmPassword').hasError(validation.type) && (validationsFormGroup.get('passwordsFormGroup').get('confirmPassword').dirty || validationsFormGroup.get('passwordsFormGroup').get('confirmPassword').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.passwordsFormGroup">
                  <div class="error-message" *ngIf="validationsFormGroup.get('passwordsFormGroup').hasError(validation.type) && (validationsFormGroup.get('passwordsFormGroup').get('confirmPassword').dirty || validationsFormGroup.get('passwordsFormGroup').get('confirmPassword').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </span>
          </div>

          <div padding>
            <ion-button size="medium" type="submit" [disabled]="!validationsFormGroup.valid" expand="block">{{'registerPage.register' | translate}}</ion-button>
          </div>
        </ion-col>

        <div text-center>
          <a routerLink='/login'>{{'registerPage.haveAnAccount' | translate}}</a>
        </div>

      </ion-row>

      <ion-row justify-content-center align-self-center>
        <ion-label style="font-size: small; margin-top:10px; color:darkgray">
          {{'registerPage.policyText' | translate}}
          <span style="color:royalblue" (click)="openModal()">{{'registerPage.policy' | translate}}</span>
        </ion-label>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
