<ion-list>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col text-center size="4">
          <ion-icon name="trophy"></ion-icon>
          <ion-label>{{score}}/10</ion-label>
        </ion-col>
        
        <ion-col text-center size="4">
          <app-timer (timeOutEventEmitter)="getTimeOutEvent($event)"></app-timer>
        </ion-col>
        
        <ion-col text-center size="4">
          <ion-icon name="infinite"></ion-icon>
          <ion-label>{{'quizPage.round' | translate}}: {{round}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>
