<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center align-items-center style="flex-direction: column;">
      <ion-img style="width: 280px; height: 280px;" src="/assets/shape.png"></ion-img>
    </ion-row>
  </ion-grid>

  <form #form="ngForm" (ngSubmit)="login()">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item>
              <ion-label class="label" position="floating">{{'loginPage.email' | translate}}</ion-label>
              <ion-input name="email" type="email" [(ngModel)]="email" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label class="label" position="floating">{{'loginPage.password' | translate}}</ion-label>
              <ion-input name="password" type="password" [(ngModel)]="password" required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="medium" type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
          </div>
        </ion-col>
      </ion-row>

      <ion-row justify-content-center align-items-center style="flex-direction: column;">
        <a routerLink='/registration'>{{'loginPage.doNotHaveAccount' | translate}}</a>
      </ion-row>

      <ion-row justify-content-center align-items-center style="flex-direction: column;">
        <a routerLink='/reset_password' style="margin-top: 10px">{{'loginPage.forgotPassword'| translate}}</a>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
