<ion-row>
  <ion-col size="4">
    <ion-buttons>
      <ion-button (click)="goToHomePage()">
        <ion-icon slot="icon-only" name="md-arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-col>
  <ion-col size="8">
    <div>
      <h3 class="title">{{'quizPage.title' | translate}}</h3>
    </div>
  </ion-col>
</ion-row>

<ion-content>
  <div *ngIf="!gameStarted && currentQuestionIndex == 0">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{'quizPage.selectLanguage' | translate}}</ion-card-subtitle>
      </ion-card-header>
      <ion-item color='white'>
        <ion-label>{{'quizPage.germanTo' | translate}}</ion-label>
        <ion-select [(ngModel)]="selectedLanguage" value="urdu">
          <ion-select-option value="urdu">Urdu</ion-select-option>
          <ion-select-option value="english">English</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-card-content>
        {{'quizPage.description' | translate}}
      </ion-card-content>
    </ion-card>
  </div>

  <app-statistics-card *ngIf="!gameStarted && currentQuestionIndex != 0"
    [score]="score"
    [displayName]="user.displayName"
    [avatar]="user.avatar">
  </app-statistics-card>

  <div *ngIf="gameStarted && (questions$ | async) as questions">
    <app-player-info
      [score]="score"
      [round]="round"
      (timeOutEventEmitter)="getTimeOutEvent($event)"
      [lockOptions]="lockOptions">
    </app-player-info>

    <app-question-card [question]="questions[currentQuestionIndex]"></app-question-card>

    <app-options
      [options]="questions[currentQuestionIndex].options"
      [answer]="questions[currentQuestionIndex].answer"
      (selectedOptionEmitter)="getSelectedOptionEvent($event)"
      [lockOptions]=lockOptions
      [selectedLanguage]="selectedLanguage">
    </app-options>
  </div>
</ion-content>

<div class="footer" *ngIf="!gameStarted">
  <ion-button class="control-button"
    color="light"
    size="large"
    expand="block"
    shape="round"
    (click)="startGame()">
      <span *ngIf="currentQuestionIndex == 0">{{'quizPage.playButton' | translate}}</span>
      <span *ngIf="currentQuestionIndex > 0">{{'quizPage.nextRoundButton' | translate}}</span>
  </ion-button>
</div>
