<ion-row>
  <ion-col size="4">
    <ion-buttons>
      <ion-button (click)="goToHomePage()">
        <ion-icon slot="icon-only" name="md-arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-col>
  <ion-col size="8">
    <div>
      <h3 class="title">{{'categoriesPage.title' | translate}}</h3>
    </div>
  </ion-col>
</ion-row>

<ion-content>
  <ion-card
  *ngFor="let category of categories"
  (click)="goToSelectedCategory(category.url)">
    <ion-card-header>
      <ion-card-title>
        {{category.de}}<span class="urdu">{{category.ur}}</span>
      </ion-card-title>
      <ion-card-subtitle>{{category.url}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
  