<ion-row *ngIf="!searchBarActive">
    <ion-col size="4">
      <ion-buttons>
        <ion-button (click)="goToHomePage()">
          <ion-icon slot="icon-only" name="md-arrow-round-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-col>

    <ion-col size="6">
      <h3 class="title">{{'vocabularyPage.title' | translate}}</h3>
    </ion-col>

    <ion-col size="2">
      <ion-buttons>
        <ion-button (click)="toggleSearchBar()">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-col>
</ion-row>

<ion-row *ngIf="searchBarActive">
  <ion-col size="12">
    <ion-searchbar
      showCancelButton
      [formControl]="form"
      (ionCancel)="toggleSearchBar()">
    </ion-searchbar>
  </ion-col>
</ion-row>

<ion-content *ngIf="(filteredWords$ | async) as items">
  <ion-virtual-scroll [items]="items" [approxItemHeight]="'88px'">
    <ion-item *virtualItem="let item" lines="full">
      <ion-label>
        <span>{{item.word}}</span>
        <span class="urdu">{{item.ur}}</span>
        <p>{{item.en}}</p>
      </ion-label>
    </ion-item>
  </ion-virtual-scroll>
</ion-content>
