<ion-content class="content">
  <ion-grid>
    <ion-row>
      <ion-col size="7">
        <canvas #doughnutCanvas></canvas>
      </ion-col>

      <ion-col size="5">
        <ion-row>
          <ion-col>
            <h6>Score</h6>
            <h6>{{score}} / 10</h6>
          </ion-col>
          <ion-col align-self-center>
            <ion-buttons>
              <ion-button>
                <ion-icon slot="icon-only" name="share"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-label padding class="label">{{'quizPage.globalScore' | translate}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <span *ngIf="(globalScores$ | async) as globalScores">
          <ion-card *ngFor="let item of globalScores; let i = index">
            <ion-header>
              <ion-grid>
                <ion-row>
                  <ion-col size="1">{{i+1}}</ion-col>
                  <ion-col>
                    <ion-avatar>
                      <img src="{{item.avatar}}" placeholder="/assets/shape.png">
                    </ion-avatar>
                  </ion-col>
                  <ion-col>
                    <h6>{{item.displayName}}</h6>
                  </ion-col>
                  <ion-col>
                    <h4>{{item.score}}</h4>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-header>
          </ion-card>
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
