// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.urdu{
  // font-family: 'JameelNooriNastaleeq';
  float: right;
  direction: rtl; // right to left
  margin-right: 10px;
  font-size: larger;
}

.title {
  font-family: 'Avenger';
  font-size: x-large;
}

@font-face{
  font-family: 'Avenger';
  src: url('./assets/fonts/avenger.ttf');
}
