<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center align-items-center style="flex-direction: column;">

      <ion-img style="width: 220px; height: 220px;" src="/assets/shape.png"></ion-img>

      <ion-label class="label" (click)="navigate('vocabulary')">{{'homePage.vocabulary' | translate}}</ion-label>
      <ion-label class="label" (click)="navigate('categories')">{{'homePage.categories' | translate}}</ion-label>
      <ion-label class="label" (click)="navigate('game')">{{'homePage.quiz' | translate}}</ion-label>
      <ion-label class="label" (click)="navigate('statistics')">{{'homePage.statistics' | translate}}</ion-label>
      <ion-label class="label" (click)="navigate('settings')">{{'homePage.settings' | translate}}</ion-label>
    </ion-row>
  </ion-grid>
</ion-content>
