<ion-row>
  <ion-col size="4">
    <ion-buttons>
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="md-arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-col>
  <ion-col size="8">
    <div>
      <h3 class="title">{{selectedCategory}}</h3>
    </div>
  </ion-col>
</ion-row>

<ion-content *ngIf="(words$ | async) as items">
  <ion-virtual-scroll [items]="items" [approxItemHeight]="'88px'">
    <ion-item *virtualItem="let item" lines="full">
      <ion-label>
        <span>{{item.word}}</span>
        <span class="urdu">{{item.ur}}</span>
        <p>{{item.en}}</p>
      </ion-label>
    </ion-item>
  </ion-virtual-scroll>
</ion-content>
