<ion-row>
  <ion-col size="4">
    <ion-buttons>
      <ion-button (click)="goToHomePage()">
        <ion-icon slot="icon-only" name="md-arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-col>
  <ion-col size="8">
    <div>
      <h3 class="title">{{'statisticsPage.title' | translate}}</h3>
    </div>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="12">
    <ion-label padding class="label">{{'statisticsPage.score' | translate}}</ion-label>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="12">
    <span *ngIf="(score$ | async) as item">
      <ion-card>
        <ion-header>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-avatar>
                  <img src="{{item.avatar}}" placeholder="/assets/shape.png">
                </ion-avatar>
              </ion-col>
              <ion-col>
                <h6>{{item.displayName}}</h6>
              </ion-col>
              <ion-col>
                <h4>{{item.score}}</h4>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-header>
      </ion-card>
    </span>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="12">
    <ion-label padding class="label">{{'statisticsPage.globalScore' | translate}}</ion-label>
  </ion-col>
</ion-row>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <span *ngIf="(globalScores$ | async) as globalScores">
          <ion-card *ngFor="let item of globalScores; let i = index">
            <ion-header>
              <ion-grid>
                <ion-row>
                  <ion-col size="1">{{i+1}}</ion-col>
                  <ion-col>
                    <ion-avatar>
                      <img src="{{item.avatar}}" placeholder="/assets/shape.png">
                    </ion-avatar>
                  </ion-col>
                  <ion-col>
                    <h6>{{item.displayName}}</h6>
                  </ion-col>
                  <ion-col>
                    <h4>{{item.score}}</h4>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-header>
          </ion-card>
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
