<ion-row>
  <ion-col size="4">
    <ion-buttons>
      <ion-button (click)="goToHomePage()">
        <ion-icon slot="icon-only" name="md-arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-col>
  <ion-col size="8">
    <div>
      <h3 class="title">{{'settingsPage.title' | translate}}</h3>
    </div>
  </ion-col>
</ion-row>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <ion-item>
          <ion-label>{{'settingsPage.profile' | translate}}</ion-label>
          <ion-button (click)="logout()">{{'settingsPage.logoutButton' | translate}}</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <ion-item>
          <ion-label>{{'settingsPage.language' | translate}}</ion-label>
          <ion-select [(ngModel)]="selectedLanguage" (ionChange)="onChange($event)">
            <ion-select-option *ngFor="let lang of availableLanguages"
                               value="{{lang.value}}">{{lang.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>
          <a href="https://www.termsfeed.com/privacy-policy/309060bbb31dad029cd94561b5124ff2" style="text-decoration: none; color:darkgray">
            {{'settingsPage.policy' | translate}}
          </a>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
